body {
  background-color: #000000;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  font-size: 1.2em;
  color: #000000;
  background-color: #ffffff;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

#tweet-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

#tweet {
  max-width: 40%;
  min-width: 30%;
  text-align: center;
}

@media (min-width: 640px) and (max-width: 1000px) {
  #tweet {
    max-width: 80%;
    min-width: 70%;
  }
}
@media (max-width: 640px) {
  #tweet {
    font-size: 20px;
    max-width: 80%;
    min-width: 70%;
  }
}
.btn {
  padding: 12px 40px;
  border-radius: 50px;
  background-color: #1da1f2;
  color: #ffffff;
  border: none;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 640px) {
  .btn{
  padding: 10px 25px;
  border-radius: 50px;
  background-color: #1da1f2;
  color: #ffffff;
  border: none;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  }
}